.product {
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1.4rem;
    border-bottom: 1px solid rgb(93, 93, 93);
    
}
.product .product-title a{    
    text-decoration: none;
    font-weight: 600;
    color: rgb(185, 115, 24);
     
}
 .product .product-basic-info img,.product .product-basic-info h4,.product .product-basic-info h5,.product .product-basic-info p{
    margin-bottom:.5rem ;
 }
 .product-basic-info{    
    width: 30%;   
   
}
.product .product-basic-info ,.product .product-about{
      height: 280px;
      margin-top: 2rem;
}
.product .btn{
      margin-top: 1rem;
   
}
.product .product-basic-info img{
    height: 160px;
    margin: 1rem 0;
    border-radius: 10px;
    transition: transform .4s ease-in-out;
    cursor: pointer;

}
.product .product-basic-info img:hover{
    transform: scale(1.09);

}
.product .product-basic-info .price{
   font-size: 1rem;
   color: rgb(238, 135, 0);
   font-weight: 500;

}



 .product-about{
   width: 70%;
   padding-left: 80px;
   line-height: 1.5rem;
   margin-bottom: 1rem;
 
 }
   .product-about h5{
      margin: 1rem 0;

  }
 .product-about .product-features{
    margin-top: 1rem;
     
 }
  .product-about .product-features h4{
      color: rgb(243, 138, 0);
      margin-bottom: .5rem;
  }
 
  .cart-btn{
    
      padding: 8px 30px;
      border-radius: 3px;
      border: none;
      background: linear-gradient(60deg,rgb(230, 178, 110),rgb(223, 131, 12));
      color: rgb(102, 9, 9);
      font-size: .9rem;
      font-weight: 700;
      cursor: pointer;
      
  }
  .product .product-about .product-features strong{
      color: rgb(124, 124, 123);
      font-size: .8rem;
      font-weight: 500;
  }
    .review-btn{
        margin-top: 2rem;
        padding: 8px 30px;
      border-radius: 3px;
      border: none;
      background: linear-gradient(60deg,rgb(230, 178, 110),rgb(223, 131, 12));
      color: rgb(102, 9, 9);
      font-size: .9rem;
      font-weight: 700;
      cursor: pointer;
    }